cryptography==2.8
jupyterhub==1.1.0
nbgitpuller==0.8.0
pycurl==7.43.0.4
jupyterhub-kubespawner==0.11.1
git+https://gitlab.humanbrainproject.org/villemai/kubespawner-seadrive.git@v0.1.4_dev
git+https://github.com/HumanBrainProject/clb-authenticator.git@v0.1.1
git+https://github.com/HumanBrainProject/jupyterhub-access-token-service.git@v0.1.1
